.button {
   /* -fx-background-color: #3498db; /* Blue button color */
    -fx-background-color: #656565;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-text-fill: white;
   //* -fx-border-color: #2980b9; /* Darker border color */
    -fx-border-width: 2;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10, 0 , 0 , 1 );
}

.button:hover {
  /*  -fx-background-color: #2980b9; /* Darker blue on hover */
  /*  -fx-effect: dropshadow(gaussian, #00FFFF, 3, 1, 0, 0);
}*/

    -fx-background-color: #00bbff
;
    -fx-effect: dropshadow(gaussian, #00bbff, 15, 0.0, 0, 0)
;
}

.button:pressed {
    -fx-background-color: #2c3e50; /* Slightly darker color when pressed */
    -fx-effect: innershadow(gaussian, #00FFFF, 10, 0, 0, 0);
}
